---
import TypewriterList from "./TypewriterList";
import PdfUploadBar from "./PdfUploadBar.jsx"


---


<div class="h-full text-black w-full gap-1 p-24">
	<div class="flex flex-col justify-between h-full bg-white/20">
		<TypewriterList strings={["Your CV sucks ass.", "Why don't you find a job. Oh wait, that's why you're here.", "Touch some grass."]} interval={5000} client:load />
		<div class="px-24 py-4">
			<PdfUploadBar client:load />
		</div>
	</div>
</div>